In [1]:
from typing_extensions import dataclass_transform
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import seaborn as sns

df = pd.read_csv("training.csv")
df.head()

,patient_id,patient_race,payer_type,patient_state,patient_zip3,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,...,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D
0,475714,NaN,MEDICAID,CA,924,84,F,NaN,C50919,Malignant neoplasm of unsp site of unspecified...,...,12.871429,22.542857,10.100000,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1
1,349367,White,COMMERCIAL,CA,928,62,F,28.49,C50411,Malig neoplm of upper-outer quadrant of right ...,...,8.957576,10.109091,8.057576,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1
2,138632,White,COMMERCIAL,TX,760,43,F,38.09,C50112,Malignant neoplasm of central portion of left ...,...,11.253333,9.663333,3.356667,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1
3,617843,White,COMMERCIAL,CA,926,45,F,NaN,C50212,Malig neoplasm of upper-inner quadrant of left...,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0
4,817482,NaN,COMMERCIAL,ID,836,55,F,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",...,15.276000,11.224000,1.946000,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0

In [2]:
df.describe()

,patient_id,patient_zip3,patient_age,bmi,population,density,age_median,age_under_10,age_10_to_19,age_20s,...,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D
count,12906.000000,12906.000000,12906.000000,3941.000000,12905.000000,12905.000000,12905.000000,12905.000000,12905.000000,12905.000000,...,12905.000000,12902.000000,12902.000000,12905.000000,12905.000000,12905.000000,12877.000000,12877.000000,12877.000000,12906.000000
mean,547381.196033,573.754300,59.183326,28.984539,20744.441237,1581.950419,40.502259,11.122784,12.945265,13.290376,...,13.335299,13.406950,4.474956,27.978387,8.575284,7.083376,39.822352,7.475221,16.098988,0.624516
std,260404.959974,275.447534,13.335216,5.696906,13886.903756,2966.305306,4.036963,1.512376,1.923974,3.354103,...,3.690949,5.222495,4.837085,5.083939,4.203482,3.109022,3.559492,1.516499,5.842501,0.484266
min,100063.000000,101.000000,18.000000,14.000000,635.545455,0.916667,20.600000,0.000000,6.314286,5.925000,...,4.600000,3.433333,0.000000,12.460784,2.440000,1.200000,30.939316,2.636008,2.760371,0.000000
25%,321517.000000,331.000000,50.000000,24.660000,9463.896552,171.857143,37.129825,10.160000,11.741176,11.013415,...,10.270492,9.663333,0.994444,24.933333,5.618750,4.929688,37.698880,6.651215,11.280694,0.000000
50%,543522.000000,554.000000,59.000000,28.190000,19154.190480,700.337500,40.639344,11.039216,12.923944,12.538095,...,12.884000,12.177778,2.747222,27.788235,7.465714,6.847059,39.108249,7.686577,15.589148,1.000000
75%,772671.750000,846.000000,67.000000,32.920000,30021.278690,1666.515385,42.934783,12.190000,14.019767,14.971053,...,15.555405,16.635556,5.976000,30.709375,10.617442,8.620000,41.136513,8.276922,20.801880,1.000000
max,999896.000000,999.000000,91.000000,85.000000,71374.131580,21172.000000,54.570000,17.675000,35.300000,62.100000,...,35.155556,38.347826,26.755000,48.020000,27.566102,25.200000,52.237210,11.169408,31.504775,1.000000

In [3]:
df.columns
df_types = df.dtypes
print(df_types)

patient_id          int64
patient_race       object
payer_type         object
patient_state      object
patient_zip3        int64
                   ...
veteran           float64
Ozone             float64
PM25              float64
N02               float64
DiagPeriodL90D      int64
Length: 83, dtype: object

In [4]:
df_missing_data = df.isnull().sum()
print("Missing data:\n", df_missing_data)

Missing data:
 patient_id           0
patient_race      6385
payer_type        1803
patient_state       51
patient_zip3         0
                  ...
veteran              1
Ozone               29
PM25                29
N02                 29
DiagPeriodL90D       0
Length: 83, dtype: int64

In [5]:
for col in df.select_dtypes(include='object').columns:
  print(f"Counts for {col}:\n{df[col].value_counts()}\n")

Counts for patient_race:
White       3588
Black       1056
Hispanic     829
Other        683
Asian        365
Name: patient_race, dtype: int64

Counts for payer_type:
COMMERCIAL            6032
MEDICAID              2569
MEDICARE ADVANTAGE    2502
Name: payer_type, dtype: int64

Counts for patient_state:
CA    2438
TX    1155
NY    1041
MI     858
IL     782
OH     754
FL     609
GA     551
PA     483
MN     377
CO     371
VA     365
IN     317
KY     259
AZ     229
WI     212
WA     200
NC     186
MO     160
NM     141
LA     139
TN     112
SC     110
ID      93
OK      93
OR      89
IA      86
MS      76
MD      71
AR      63
NV      62
KS      50
AL      50
MT      45
NE      40
UT      36
DE      33
WV      27
HI      21
NJ      21
DC      20
SD       8
ND       6
AK       6
WY       4
CT       2
PR       1
RI       1
NH       1
MA       1
Name: patient_state, dtype: int64

Counts for patient_gender:
F    12906
Name: patient_gender, dtype: int64

Counts for breast_cancer_diagnosis_code:
1749      1982
C50911    1797
C50912    1712
C50919    1467
C50411     978
C50412     877
C50811     491
C50812     419
1744       389
1748       307
C50212     293
C50211     276
C50511     213
C50112     209
C50111     208
C50512     176
C50312     159
C50311     138
C50011     108
C50012     105
1742        98
1741        88
1745        71
C50819      54
C50419      48
C5091       37
1743        34
C50612      29
C50611      25
C50319      16
C50019      13
1746        12
C50219      11
C50119      11
C5041        9
19881        9
C5081        8
C50519       8
C5021        3
C509         3
C50929       3
C50619       3
C5011        2
C50021       1
C5031        1
C5051        1
C50          1
1759         1
C5001        1
C50421       1
Name: breast_cancer_diagnosis_code, dtype: int64

Counts for breast_cancer_diagnosis_desc:
Malignant neoplasm of breast (female), unspecified                  1982
Malignant neoplasm of unsp site of right female breast              1797
Malignant neoplasm of unspecified site of left female breast        1712
Malignant neoplasm of unsp site of unspecified female breast        1467
Malig neoplm of upper-outer quadrant of right female breast          978
Malig neoplasm of upper-outer quadrant of left female breast         877
Malignant neoplasm of ovrlp sites of right female breast             491
Malignant neoplasm of ovrlp sites of left female breast              419
Malignant neoplasm of upper-outer quadrant of female breast          389
Malignant neoplasm of other specified sites of female breast         307
Malig neoplasm of upper-inner quadrant of left female breast         293
Malig neoplm of upper-inner quadrant of right female breast          276
Malig neoplm of lower-outer quadrant of right female breast          213
Malignant neoplasm of central portion of left female breast          209
Malignant neoplasm of central portion of right female breast         208
Malig neoplasm of lower-outer quadrant of left female breast         176
Malig neoplasm of lower-inner quadrant of left female breast         159
Malig neoplm of lower-inner quadrant of right female breast          138
Malignant neoplasm of nipple and areola, right female breast         108
Malignant neoplasm of nipple and areola, left female breast          105
Malignant neoplasm of upper-inner quadrant of female breast           98
Malignant neoplasm of central portion of female breast                88
Malignant neoplasm of lower-outer quadrant of female breast           71
Malignant neoplasm of ovrlp sites of unsp female breast               54
Malig neoplasm of upper-outer quadrant of unsp female breast          48
Malignant neoplasm of breast of unspecified site, female              37
Malignant neoplasm of lower-inner quadrant of female breast           34
Malignant neoplasm of axillary tail of left female breast             29
Malignant neoplasm of axillary tail of right female breast            25
Malig neoplasm of lower-inner quadrant of unsp female breast          16
Malignant neoplasm of nipple and areola, unsp female breast           13
Malignant neoplasm of axillary tail of female breast                  12
Malig neoplasm of upper-inner quadrant of unsp female breast          11
Malignant neoplasm of central portion of unsp female breast           11
Malignant neoplasm of upper-outer quadrant of breast, female           9
Secondary malignant neoplasm of breast                                 9
Malignant neoplasm of overlapping sites of breast, female              8
Malig neoplasm of lower-outer quadrant of unsp female breast           8
Malignant neoplasm of upper-inner quadrant of breast, female           3
Malignant neoplasm of breast of unspecified site                       3
Malignant neoplasm of unsp site of unspecified male breast             3
Malignant neoplasm of axillary tail of unsp female breast              3
Malignant neoplasm of central portion of breast, female                2
Malignant neoplasm of nipple and areola, right male breast             1
Malignant neoplasm of lower-inner quadrant of breast, female           1
Malignant neoplasm of lower-outer quadrant of breast, female           1
Malignant neoplasm of breast                                           1
Malignant neoplasm of other and unspecified sites of male breast       1
Malignant neoplasm of nipple and areola, female                        1
Malig neoplasm of upper-outer quadrant of right male breast            1
Name: breast_cancer_diagnosis_desc, dtype: int64

Counts for metastatic_cancer_diagnosis_code:
C773     7052
C7951    1842
C779      764
C7981     467
C7800     414
C787      362
C7989     344
C799      282
C7931     282
C792      166
C771      156
C7801     149
C770      126
C782       81
C778       77
C7802      73
C786       43
C7952      32
C781       31
C772       27
C785       16
C7960      16
C7949      15
C775       13
C7982      12
C7889      12
C7970       8
C7940       7
C7932       7
C784        6
C7911       5
C774        3
C7961       3
C7900       2
C7880       2
C7901       2
C7972       1
C7910       1
C7839       1
C7962       1
C7971       1
C7830       1
C7919       1
Name: metastatic_cancer_diagnosis_code, dtype: int64

Counts for metastatic_first_novel_treatment:
PEMBROLIZUMAB    13
OLAPARIB         11
Name: metastatic_first_novel_treatment, dtype: int64

Counts for metastatic_first_novel_treatment_type:
Antineoplastics    24
Name: metastatic_first_novel_treatment_type, dtype: int64

Counts for Region:
South        3919
West         3735
Midwest      3650
Northeast    1550
Name: Region, dtype: int64

Counts for Division:
East North Central    2923
Pacific               2754
South Atlantic        1972
Middle Atlantic       1545
West South Central    1450
Mountain               981
West North Central     727
East South Central     497
New England              5
Name: Division, dtype: int64

In [6]:
df = pd.read_csv("training.csv")

columns_to_exclude = ["patient_race", "patient_gender", "payer_type", "breast_cancer_diagnosis_code",
                      "metastatic_cancer_diagnosis_code", "breast_cancer_diagnosis_desc",
                      "metastatic_first_novel_treatment", "metastatic_first_novel_treatment_type"]

df2 = df.drop(columns=columns_to_exclude)

In [7]:
for col in df2.select_dtypes(include='object').columns:
  print(f"Counts for {col}:\n{df2[col].value_counts()}\n")

Counts for patient_state:
CA    2438
TX    1155
NY    1041
MI     858
IL     782
OH     754
FL     609
GA     551
PA     483
MN     377
CO     371
VA     365
IN     317
KY     259
AZ     229
WI     212
WA     200
NC     186
MO     160
NM     141
LA     139
TN     112
SC     110
ID      93
OK      93
OR      89
IA      86
MS      76
MD      71
AR      63
NV      62
KS      50
AL      50
MT      45
NE      40
UT      36
DE      33
WV      27
HI      21
NJ      21
DC      20
SD       8
ND       6
AK       6
WY       4
CT       2
PR       1
RI       1
NH       1
MA       1
Name: patient_state, dtype: int64

Counts for Region:
South        3919
West         3735
Midwest      3650
Northeast    1550
Name: Region, dtype: int64

Counts for Division:
East North Central    2923
Pacific               2754
South Atlantic        1972
Middle Atlantic       1545
West South Central    1450
Mountain               981
West North Central     727
East South Central     497
New England              5
Name: Division, dtype: int64

In [8]:
state_mapping = {
    "AL": 0, "AK": 1, "AZ": 2, "AR": 3, "CA": 4,
    "CO": 5, "CT": 6, "DE": 7, "FL": 8, "GA": 9,
    "HI": 10, "ID": 11, "IL": 12, "IN": 13, "IA": 14,
    "KS": 15, "KY": 16, "LA": 17, "ME": 18, "MD": 19,
    "MA": 20, "MI": 21, "MN": 22, "MS": 23, "MO": 24,
    "MT": 25, "NE": 26, "NV": 27, "NH": 28, "NJ": 29,
    "NM": 30, "NY": 31, "NC": 32, "ND": 33, "OH": 34,
    "OK": 35, "OR": 36, "PA": 37, "RI": 38, "SC": 39,
    "SD": 40, "TN": 41, "TX": 42, "UT": 43, "VT": 44,
    "VA": 45, "WA": 46, "WV": 47, "WI": 48, "WY": 49
}
df2["patient_state_encoded"] = df2["patient_state"].map(state_mapping)

division_mapping = {
    "East North Central": 0, "Pacific": 1, "South Atlantic": 2, "Middle Atlantic": 3,
    "West South Central": 4, "Mountain": 5, "West North Central": 6, 
    "East South Central": 7, "New England": 8
}
df2["division_encoded"] = df2["Division"].map(division_mapping)

region_mapping = {"South": 0, "West": 1, "Midwest": 2, "Northeast": 3}
df2["region_encoded"] = df2["Region"].map(region_mapping)

df2 = df2.drop(columns=["patient_state", "Region", "Division"])
df2.head()

,patient_id,patient_zip3,patient_age,bmi,population,density,age_median,age_under_10,age_10_to_19,age_20s,...,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D,patient_state_encoded,division_encoded,region_encoded
0,475714,924,84,NaN,31437.75000,1189.562500,30.642857,16.014286,15.542857,17.614286,...,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1,4.0,1.0,1.0
1,349367,928,62,28.49,39121.87879,2295.939394,38.200000,11.878788,13.354545,14.230303,...,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1,4.0,1.0,1.0
2,138632,760,43,38.09,21996.68333,626.236667,37.906667,13.028333,14.463333,12.531667,...,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1,42.0,4.0,0.0
3,617843,926,45,NaN,32795.32558,1896.220930,42.871429,10.071429,12.135714,12.538095,...,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0,4.0,1.0,1.0
4,817482,836,55,NaN,10886.26000,116.886000,43.473469,10.824000,13.976000,9.492000,...,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0,11.0,5.0,1.0

In [9]:
df3 = df2.drop(columns=["patient_id", "patient_zip3"])
df3.head()

,patient_age,bmi,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,...,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D,patient_state_encoded,division_encoded,region_encoded
0,84,NaN,31437.75000,1189.562500,30.642857,16.014286,15.542857,17.614286,14.014286,11.614286,...,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1,4.0,1.0,1.0
1,62,28.49,39121.87879,2295.939394,38.200000,11.878788,13.354545,14.230303,13.418182,13.333333,...,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1,4.0,1.0,1.0
2,43,38.09,21996.68333,626.236667,37.906667,13.028333,14.463333,12.531667,13.545000,12.860000,...,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1,42.0,4.0,0.0
3,45,NaN,32795.32558,1896.220930,42.871429,10.071429,12.135714,12.538095,12.464286,12.650000,...,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0,4.0,1.0,1.0
4,55,NaN,10886.26000,116.886000,43.473469,10.824000,13.976000,9.492000,10.364000,12.600000,...,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0,11.0,5.0,1.0

In [10]:
df_missing_data = df3.isnull().sum()
print("Missing data:\n", df_missing_data)

Missing data:
 patient_age                 0
bmi                      8965
population                  1
density                     1
age_median                  1
                         ...
N02                        29
DiagPeriodL90D              0
patient_state_encoded      72
division_encoded           52
region_encoded             52
Length: 73, dtype: int64

In [11]:
df4 = df3.drop(columns=["bmi"])
df4.head()

,patient_age,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,...,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D,patient_state_encoded,division_encoded,region_encoded
0,84,31437.75000,1189.562500,30.642857,16.014286,15.542857,17.614286,14.014286,11.614286,11.557143,...,27.814286,11.200000,3.500000,52.237210,8.650555,18.606528,1,4.0,1.0,1.0
1,62,39121.87879,2295.939394,38.200000,11.878788,13.354545,14.230303,13.418182,13.333333,14.060606,...,30.606061,7.018182,4.103030,42.301121,8.487175,20.113179,1,4.0,1.0,1.0
2,43,21996.68333,626.236667,37.906667,13.028333,14.463333,12.531667,13.545000,12.860000,12.770000,...,31.394915,15.066667,7.446667,40.108207,7.642753,14.839351,1,42.0,4.0,0.0
3,45,32795.32558,1896.220930,42.871429,10.071429,12.135714,12.538095,12.464286,12.650000,14.847619,...,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,0,4.0,1.0,1.0
4,55,10886.26000,116.886000,43.473469,10.824000,13.976000,9.492000,10.364000,12.600000,14.992000,...,26.170213,12.088000,13.106000,41.356058,4.110749,11.722197,0,11.0,5.0,1.0

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

df4 = df4.dropna()
X = df4.drop(columns=["DiagPeriodL90D"])
y = df4["DiagPeriodL90D"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

probabilities = model.predict_proba(X_test)[:, 1]

print(probabilities)

[0.61886121 0.61875748 0.65324577 ... 0.60235047 0.63838836 0.60463342]

In [13]:
len(probabilities)

2561

In [15]:
#df4.to_csv("data1.csv", index = False) #12803 rows

In [16]:
# Get the number of columns in df4
num_columns = df4.shape[1]

# Print the number of columns
print("Number of columns in df4:", num_columns)

Number of columns in df4: 72

In [17]:
from sklearn.linear_model import LogisticRegression

# Dictionary to store probabilities for each column
column_probabilities = {}

# Iterate over each column (excluding '90 day')
for column in df4.columns.drop("DiagPeriodL90D"):
    # Selecting the column as feature and target variable
    X_column = df4[[column]]
    y_column = df4["DiagPeriodL90D"]
    
    # Training a logistic regression model
    model = LogisticRegression()
    model.fit(X_column, y_column)
    
    # Predicting probability for '90 day' diagnosis
    probabilities = model.predict_proba(X_column)[:, 1]
    
    # Storing the probability for the column
    column_probabilities[column] = probabilities[0]  # Assuming there's only one value in probabilities array

# Displaying the probabilities
for column, probability in column_probabilities.items():
    print(f"Column '{column}': Probability of 90-day diagnosis: {probability}")

Column 'patient_age': Probability of 90-day diagnosis: 0.6732954178207674
Column 'population': Probability of 90-day diagnosis: 0.6297977845132939
Column 'density': Probability of 90-day diagnosis: 0.625560853019552
Column 'age_median': Probability of 90-day diagnosis: 0.6259991849873342
Column 'age_under_10': Probability of 90-day diagnosis: 0.6082695173333592
Column 'age_10_to_19': Probability of 90-day diagnosis: 0.6152211861432569
Column 'age_20s': Probability of 90-day diagnosis: 0.6286148073840607
Column 'age_30s': Probability of 90-day diagnosis: 0.6289493890404825
Column 'age_40s': Probability of 90-day diagnosis: 0.620748322533362
Column 'age_50s': Probability of 90-day diagnosis: 0.6312753051801524
Column 'age_60s': Probability of 90-day diagnosis: 0.6264264719154923
Column 'age_70s': Probability of 90-day diagnosis: 0.6276661283852855
Column 'age_over_80': Probability of 90-day diagnosis: 0.6320993404150171
Column 'male': Probability of 90-day diagnosis: 0.623960022660782
Column 'female': Probability of 90-day diagnosis: 0.6246742539976412
Column 'married': Probability of 90-day diagnosis: 0.6186105239844646
Column 'divorced': Probability of 90-day diagnosis: 0.624453730140024
Column 'never_married': Probability of 90-day diagnosis: 0.6235416316735582
Column 'widowed': Probability of 90-day diagnosis: 0.6388136406199768
Column 'family_size': Probability of 90-day diagnosis: 0.5826991358808883
Column 'family_dual_income': Probability of 90-day diagnosis: 0.6251137063563031
Column 'income_household_median': Probability of 90-day diagnosis: 0.5861162631329204
Column 'income_household_under_5': Probability of 90-day diagnosis: 0.6254104559050407
Column 'income_household_5_to_10': Probability of 90-day diagnosis: 0.6155398696681039
Column 'income_household_10_to_15': Probability of 90-day diagnosis: 0.6102879818437661
Column 'income_household_15_to_20': Probability of 90-day diagnosis: 0.6153989909656862
Column 'income_household_20_to_25': Probability of 90-day diagnosis: 0.6098299284055362
Column 'income_household_25_to_35': Probability of 90-day diagnosis: 0.6135497073580922
Column 'income_household_35_to_50': Probability of 90-day diagnosis: 0.6164230731528707
Column 'income_household_50_to_75': Probability of 90-day diagnosis: 0.6209437149462109
Column 'income_household_75_to_100': Probability of 90-day diagnosis: 0.6250137981082446
Column 'income_household_100_to_150': Probability of 90-day diagnosis: 0.6081551848321435
Column 'income_household_150_over': Probability of 90-day diagnosis: 0.6145205801366935
Column 'income_household_six_figure': Probability of 90-day diagnosis: 0.6108709026995176
Column 'income_individual_median': Probability of 90-day diagnosis: 0.5833644839507403
Column 'home_ownership': Probability of 90-day diagnosis: 0.6248176241552653
Column 'housing_units': Probability of 90-day diagnosis: 0.6013999954121618
Column 'home_value': Probability of 90-day diagnosis: 0.5718170884092453
Column 'rent_median': Probability of 90-day diagnosis: 0.6225173584369378
Column 'rent_burden': Probability of 90-day diagnosis: 0.6252781868531918
Column 'education_less_highschool': Probability of 90-day diagnosis: 0.551809605576512
Column 'education_highschool': Probability of 90-day diagnosis: 0.6218257723114188
Column 'education_some_college': Probability of 90-day diagnosis: 0.6202543458520499
Column 'education_bachelors': Probability of 90-day diagnosis: 0.5911863849790489
Column 'education_graduate': Probability of 90-day diagnosis: 0.6118277169270997
Column 'education_college_or_above': Probability of 90-day diagnosis: 0.6000792388839754
Column 'education_stem_degree': Probability of 90-day diagnosis: 0.6171082453345623
Column 'labor_force_participation': Probability of 90-day diagnosis: 0.6245349247669724
Column 'unemployment_rate': Probability of 90-day diagnosis: 0.6123923638841139
Column 'self_employed': Probability of 90-day diagnosis: 0.6252478816104715
Column 'farmer': Probability of 90-day diagnosis: 0.6245768590621545
Column 'race_white': Probability of 90-day diagnosis: 0.6141930810591567
Column 'race_black': Probability of 90-day diagnosis: 0.6229487484190092
Column 'race_asian': Probability of 90-day diagnosis: 0.6243841454142077
Column 'race_native': Probability of 90-day diagnosis: 0.6246949786750109
Column 'race_pacific': Probability of 90-day diagnosis: 0.6371718858149134
Column 'race_other': Probability of 90-day diagnosis: 0.6194328512470024
Column 'race_multiple': Probability of 90-day diagnosis: 0.6277177816896072
Column 'hispanic': Probability of 90-day diagnosis: 0.6178762291426431
Column 'disabled': Probability of 90-day diagnosis: 0.6257629620386993
Column 'poverty': Probability of 90-day diagnosis: 0.6035802395532045
Column 'limited_english': Probability of 90-day diagnosis: 0.6182552822878536
Column 'commute_time': Probability of 90-day diagnosis: 0.625046813939334
Column 'health_uninsured': Probability of 90-day diagnosis: 0.6160903960366815
Column 'veteran': Probability of 90-day diagnosis: 0.6247681726187235
Column 'Ozone': Probability of 90-day diagnosis: 0.6382634663589102
Column 'PM25': Probability of 90-day diagnosis: 0.6187593276214294
Column 'N02': Probability of 90-day diagnosis: 0.6246687090650956
Column 'patient_state_encoded': Probability of 90-day diagnosis: 0.6427379559759973
Column 'division_encoded': Probability of 90-day diagnosis: 0.6242715896836554
Column 'region_encoded': Probability of 90-day diagnosis: 0.6243887235338557